<html><head>
    <title>508 Captioning Test</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            var socket = io({
                'reconnectionDelay': 500,
                'reconnectionDelayMax': 1000,
                'timeout': 3000,
                transports: ['websocket']
            });
            // Event handler for new connections.
            socket.on('connect', function() {
                console.log('Socketio connected '+ new Date().toISOString());
            });
            socket.on('disconnect', function() {
                console.log('Socketio disconnected  '+ new Date().toISOString());
                $('#podname').text('')
            });
            socket.on('connect_error', function() {
                console.log('connect_error  '+ new Date().toISOString());
            });
            socket.on('connect_timeout', function() {
                console.log('connect_timeout  '+ new Date().toISOString());
            });
            socket.on('pod_id', function(msg) {
                console.log('Connected to pod: '+msg);
                $('#podname').text(msg)
            });
            // Event handler for server sent data.
            // Splits the received transcription into its steady/pending/unstable
            // parts, and displays on-page.
            var re = new RegExp('^\\[.+\\]');
            socket.on('transcript', function(msg, cb) {
                var elems = msg.split("|");
                if (elems.length > 0) {
                    // if this is a 'control' message, add a line break
                    if (re.test(elems[0])) {
                        $('#steady').append(' ');
                        window.scrollTo(0,document.body.scrollHeight);
                    }
                    $('#steady').append(elems[0]+' ');
                    window.scrollTo(0,document.body.scrollHeight);
                }
                if (elems.length > 1) {
                    $('#pending').text(elems[1]);
                    window.scrollTo(0,document.body.scrollHeight);
                    if (elems.length > 2) {
                        $('#unstable').text(elems[2]);
                        window.scrollTo(0,document.body.scrollHeight);
                    }
                }
                // clear if not present
                if (elems.length < 3) {
                    window.scrollTo(0,document.body.scrollHeight);
                    $('#unstable').text('');
                    window.scrollTo(0,document.body.scrollHeight);
                    if (elems.length < 2) {
                        $('#pending').text('');
                        window.scrollTo(0,document.body.scrollHeight);
                    }
                }
            });
        });
    </script>
    <script>
    function changeBodyBg()
    {
        var bkgdcolor = document.getElementById("backgroundColor").value;
        document.getElementById("captioning").style.backgroundColor = bkgdcolor;
    }
    function changeLineHeight()
    {
        document.getElementById("captioning").style.lineHeight = num;
    }
    function changeFontSize()
    {
        document.getElementById("captioning").style.fontSize = num;
    }
    </script>
    <style>
        body{
            background-color:black;
            color:white;
            font-family: sans-serif;
        }
        #steady{
            color:white;
        }
        #pending{
            color:#999;
        }
        #unstable{
            color:#444;
        }
        #captioning{
            padding: 15px;
            border: solid 5px gray;
            margin: 15px;
            font-size: 75px;
            font-weight: bold;
            line-height: 1.5;
        }
        #header{
            padding: 10px;
            background-color: navy;
        }
    </style>
</head>
<body>
    <div id="header">
    Background Color: 
<select id="backgroundColor" onchange="changeBodyBg()">
<option value="">Background Color</option>
<option value="#000000" style="background-color: Black;color: #FFFFFF;">Black</option>
<option value="#808080" style="background-color: Gray;">Gray</option>
<option value="#A9A9A9" style="background-color: DarkGray;">DarkGray</option>
<option value="#D3D3D3" style="background-color: LightGrey;">LightGray</option>
<option value="#FFFFFF" style="background-color: White;">White</option>
<option value="#7FFFD4" style="background-color: Aquamarine;">Aquamarine</option>
<option value="#0000FF" style="background-color: Blue;">Blue</option>
<option value="#000080" style="background-color: Navy;color: #FFFFFF;">Navy</option>
<option value="#800080" style="background-color: Purple;color: #FFFFFF;">Purple</option>
<option value="#FF1493" style="background-color: DeepPink;">DeepPink</option>
<option value="#EE82EE" style="background-color: Violet;">Violet</option>
<option value="#FFC0CB" style="background-color: Pink;">Pink</option>
<option value="#006400" style="background-color: DarkGreen;color: #FFFFFF;">DarkGreen</option>
<option value="#008000" style="background-color: Green;color: #FFFFFF;">Green</option>
<option value="#9ACD32" style="background-color: YellowGreen;">YellowGreen</option>
<option value="#FFFF00" style="background-color: Yellow;">Yellow</option>
<option value="#FFA500" style="background-color: Orange;">Orange</option>
<option value="#FF0000" style="background-color: Red;">Red</option>
<option value="#A52A2A" style="background-color: Brown;">Brown</option>
<option value="#DEB887" style="background-color: BurlyWood;">BurlyWood</option>
<option value="#F5F5DC" style="background-color: Beige;">Beige</option>
</select>
    </div>
<h1>508 Captioning Demo</h1>
<b>Connected to:  </b><span id="podname"></span>
<h3>Captioning Window:</h3>
<div id="captioning">
    <span id="steady"></span>
    <span id="pending"></span>
    <span id="unstable"></span>
    </div>

</body></html>
